{
    "extension": [
      ".ts",
      ".tsx"
    ],
    "include": [
      "src"
    ],
    "exclude": [
      "src/**/*.spec.unit.ts",
      "src/**/*.spec.ts",
      "src/dev"
    ],
    "reporter": [
      "html"
    ]
}