<!DOCTYPE html>
<html>

<body style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; font-family: Exo, sans-serif; font-size: 14px; line-height: 20px; color: #333; overflow: visible; max-width: 100%; overflow-x: hidden; margin: 0px 0px 0;"
  bgcolor="#fff">
  <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; overflow: visible; background: #0188ee none repeat 0% 0% / auto; margin: 0px;">
    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 0px; top: 0px; z-index: -1; width: 100%; height: 1000px; display: none; background: #176ec4 linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .13));"></div>
    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 50px; padding-bottom: 50px; background-color: #fff;">
      <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 940px;">
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: auto; margin-right: auto; margin-left: auto;"><img
            src="https://uploads-ssl.webflow.com/5b5f7776d9b73f8aefb48d54/5b5f7da16abb677e1f379ef9_BlueHeart.png" width="128"
            style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 100%; vertical-align: middle; display: block; margin-right: auto; margin-left: auto; border: 0;"></div>
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
          <h2 style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: 300; margin-bottom: 10px; font-size: 60px; line-height: 70px; margin-top: 40px; color: #355fe6;"
            align="center">Hi {{ name }}<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Welcome
            to Thor!</h2>
        </div>
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: flex; width: 100%; margin-top: 50px;"></div>
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #000; font-size: 16px; line-height: 30px;"
          align="center">We’re very excited to have you on board. To join please click the link below:<br
            style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"><br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Bring
          your
          hammer!<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
        </div>
        <a id="verify-link" href="{{ link }}" style="background-color: #355fe6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; color: white; line-height: inherit; text-decoration: none; cursor: pointer; border-radius: 7px; width: auto; max-width: 600px; margin-top: 20px; margin-right: auto; margin-left: auto; box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .33); font-size: 16px; text-align: center; padding: 16px; border: 0;">Join!</a>
      </div>
    </div>
  </div>
  <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: none;"></div>
  <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 0px; background-color: #fff;">
    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 940px; position: static; margin-top: 0px; padding-right: 20px; padding-left: 20px;">
      <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: auto; margin-top: 33px; margin-right: auto; margin-left: auto;">
        <img src="https://uploads-ssl.webflow.com/5b5f7776d9b73f8aefb48d54/5b8f0d4f5a28eadd7351a5d6_WithLoveFrom.png"
          width="402" srcset="https://uploads-ssl.webflow.com/5b5f7776d9b73f8aefb48d54/5b8f0d4f5a28eadd7351a5d6_WithLoveFrom-p-500.png 500w, https://uploads-ssl.webflow.com/5b5f7776d9b73f8aefb48d54/5b8f0d4f5a28eadd7351a5d6_WithLoveFrom.png 804w"
          sizes="(max-width: 479px) 92vw, 402px" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 100%; vertical-align: middle; display: block; margin-right: auto; margin-bottom: 30px; margin-left: auto; border: 0;">
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #929191; margin-top: 20px; text-transform: none;"
          align="center">Thor Technologies<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">1161
          Mission Street<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">San
          Francisco, CA 94103<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">‍</div>
      </div>
    </div>
  </div>
</body>

</html>
