<!DOCTYPE html>
<html data-wf-domain="tokensale.webflow.io" data-wf-page="5c086c2e330944af6bdec4ab" data-wf-site="5a7b77c587d05300019b4000" style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <title>Thanks-withConfirmButton</title>
        <meta content="Thanks-withConfirmButton" property="og:title">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/css/tokensale.webflow.15a9ca083.css" rel="stylesheet" type="text/css">
        <link href="https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/5a7b77c587d05300019b4075_Favicon_trans.png" rel="shortcut icon" type="image/x-icon">
        <link href="https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/5a7b77c587d05300019b4058_THOR_webclip.png" rel="apple-touch-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:300,400,700&amp;lang=en"/>
        <style>
            body {
                margin: 0;
                min-width: 300px;
            }

            img {
                border: 0;
            }

            body {
                margin: 0;
                min-height: 100%;
                background-color: #fff;
                font-family: Arial,sans-serif;
                font-size: 14px;
                line-height: 20px;
                color: #333;
            }

            img {
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
        </style>
    </head>
    <body style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; font-family: Exo, sans-serif; font-size: 18px; line-height: 20px; color: #333; margin: 0;" bgcolor="#fff">
        <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 940px;">
            <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; overflow: hidden; margin-right: auto; margin-left: auto; padding-bottom: 64px; background-color: #f7f8f9;">
                <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 270px; padding-top: 30px; background: #0178ee url('https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/5bd78ec3d8648357bfcb2054_ThorBlueFinanceBG_01.png') no-repeat 50% 50% / cover;">
                    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: -18px;">
                        <img src="https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/5c086c3705fcc3249b0b234b_ThorThumbsUp.png" alt="" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 100%; vertical-align: middle; display: block; margin-right: auto; margin-left: auto; border-radius: 7px; border: 0;">
                    </div>
                </div>
                <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; top: 0px; margin-top: 20px; margin-right: 20px; margin-left: 20px; border-radius: 11px; background-color: #fff; padding: 40px 25px 50px;">
                    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: Exo, sans-serif; font-size: 20px; line-height: 36px; margin-bottom: 20px;" align="left">
                        Your Thor account for {{ companyName }} has been created!<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        To start managing contractors, please confirm your account.<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        <br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    </div>
                    <a href="{{ link }}" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; color: white; line-height: inherit; text-decoration: none; cursor: pointer; border-radius: 7px; width: 90%; margin-right: auto; margin-left: auto; box-shadow: 4px 4px 15px 0 rgba(1, 120, 238, .34); font-size: 20px; text-align: center; background: #0178ee none; padding: 22px 15px; border: 0;">Confirm Account
                    </a>
                </div>
                <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: auto 10px">
                    <img src="https://uploads-ssl.webflow.com/5a7b77c587d05300019b4000/5bd78007654262bfebf93cea_ThorLogo_Grey200.png" width="203.5" alt="" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; max-width: 100%; vertical-align: middle; display: block; margin-top: 50px; margin-right: auto; margin-left: auto; border: 0;">
                    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 30px; color: #929191; line-height: 30px;" align="center">
                        Thor is fixing the Gig Economy for Businesses and Contractors.<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        <a href="http://gothor.com" target="_blank" style="background-color: transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #0178ee; text-decoration: none;">Learn more→</a>
                    </div>
                    <div style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 51px; color: #929191; line-height: 30px;" align="center">
                        Thor Technologies Inc.<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        1161 Mission Street<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        San Francisco, CA 94103<br style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
